
.git
.github

node_modules
npm-debug.log

.scannerwork

terraform
terraform2

*.tfstate
*.tfstate.backup

.gitleaks.toml
gitleaks-report.json

test-report.json

README.md

docs

screenshots

keys
keys.pub

Jenkinsfile

.vscode

.idea
